version: '3'
services:

  mongo:
    image: mongo:4

  redis:
    image: redis:6

  api-cart:
    build:
      context: ./cart-service
    image: europe-west1-docker.pkg.dev/wsc-kubernetes-training-0/microservices-demo/cart-service:latest
    environment:
      REDIS_URI: "redis://redis:6379"
    depends_on:
      - redis

  api-article:
    build:
      context: ./article-service
    image: europe-west1-docker.pkg.dev/wsc-kubernetes-training-0/microservices-demo/article-service:latest
    environment:
      MONGODB_URI: "mongodb://mongo:27017"
    depends_on:
      - mongo

  front-admin:
    build:
      context: ./front-admin
    image: europe-west1-docker.pkg.dev/wsc-kubernetes-training-0/microservices-demo/frontend-admin:latest

  front-client:
    build:
      context: ./front-user
    image: europe-west1-docker.pkg.dev/wsc-kubernetes-training-0/microservices-demo/frontend-user:latest

  ingress:
    image: nginx:1.19
    ports:
      - "80:80"
    volumes:
      - ./.compose/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - api-cart
      - api-article
      - front-admin
      - front-client
